mixin main-header()
  // Vendor
  link(rel='stylesheet', href='/node_modules/startbootstrap-sb-admin-2/css/sb-admin-2.min.css')
  link(rel='stylesheet', href='/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css')
  link(href='/node_modules/@fortawesome/fontawesome-free/css/all.min.css', rel='stylesheet')
  script(src='node_modules/startbootstrap-sb-admin-2/js/sb-admin-2.min.js')
  script(src='/node_modules/@fortawesome/fontawesome-free/js/all.min.js')
  //local
  link(rel='stylesheet', href='/stylesheets/main.min.css')

mixin alert(type)
  if messages !== undefined
    - type = type || 'danger'
    .alert
      each message in messages
        if message.content !== ''
          if message.type === 'danger'
            .alert-danger(style='padding-left: 16px;')
              li=message.content
          if message.type === 'info'
            .alert-info(style='padding-left: 16px;')
              li=message.content


mixin main()
  body#page-top
    // Page Wrapper
    #wrapper
      // Sidebar
      ul#accordionSidebar.navbar-nav.sidebar.sidebar-dark.accordion
        #accordionSidebarContent
          // Sidebar - Brand
          a.sidebar-brand.d-flex.align-items-center.justify-content-center(href='index.html')
            .sidebar-brand-text.mx-3
              | ILeakable
          // Divider
          hr.sidebar-divider.my-0
          // Nav Item - Dashboard
          li.nav-item
            a.nav-link(href='/main')
              i.fas.fa-fw.fa-home
              span.after-fas Home
          // Divider
          hr.sidebar-divider
          // Heading
          .sidebar-heading
            | Actions
          li.nav-item
            a.nav-link(href='/main/fund')
              i.fas.fa-fw.fa-plus
              span.after-fas Operations
          li.nav-item
            a.nav-link(href='/main/accountSelection')
              i.fas.fa-fw.fa-plus
              span.after-fas Change account
          hr.sidebar-divider
          // Heading
          .sidebar-heading
            | Settings
          // Nav Item - Pages Collapse Menu
          li.nav-item
            a.nav-link.collapsed(href='#', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='true', aria-controls='collapseTwo')
              i.fas.fa-fw.fa-cog
              span.after-fas Parameters
            //#collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionSidebar')
              .bg-white.py-2.collapse-inner.rounded
                h6.collapse-header Custom Components:
                a.collapse-item(href='buttons.html') Buttons
                a.collapse-item(href='cards.html') Cards
          // Nav Item - Utilities Collapse Menu
          li.nav-item
            a.nav-link.collapsed(href='#', data-toggle='collapse', data-target='#collapseUtilities', aria-expanded='true', aria-controls='collapseUtilities')
              i.fas.fa-fw.fa-wrench
              span.after-fas Configurations
            //#collapseUtilities.collapse(aria-labelledby='headingUtilities', data-parent='#accordionSidebar')
              .bg-white.py-2.collapse-inner.rounded
                h6.collapse-header Custom Utilities:
                a.collapse-item(href='utilities-color.html') Colors
                a.collapse-item(href='utilities-border.html') Borders
                a.collapse-item(href='utilities-animation.html') Animations
                a.collapse-item(href='utilities-other.html') Other
          // Divider
          hr.sidebar-divider
          li.nav-item
            a.nav-link(href='/logout')
              i.fas.fa-fw.fa-sign-out-alt
              span.after-fas Log out
          hr.sidebar-divider
      // End of Sidebar
      // Content Wrapper
      #content-wrapper.d-flex.flex-column
        block main-content

mixin accountSelection()
  #content
    // Begin Page Content
    .container-fluid
      each account in accounts
        br
        .mb-4
          .card.border-left-success.shadow.h-100.py-2
            .card-body
              .row
                a(href='#')
                  .fas.fa-exchange-alt.margin-top-8.margin-left-8.margin-right-24
                .row.margin-left-16
                  a(href='#')
                    .fas.fa-credit-card.fa-2x.margin-side-8
                  span.margin-side-8=('# ' + user.mail)
                  span.margin-side-8=('# ' + account.number)
                  span.margin-left-16=("Balance: " + account.money + "$")

    +footer()
    +main-scripts()

mixin home()
  #content
    // Begin Page Content
    .container-fluid
      // Page Heading
      .heading-row.row
        .heading-text.col-8
          br
          br
          h1#white-title.h3.mb-2 Transaction history
          p.mb-4 A list of the recent transaction you did why your account.
        .bitcoin-enable
          br
          a(href='#')
            img(src='/assets/bitcoin.png').size-64.margin-top-16.margin-right-24
        .heading-menu.col-3
          br
          .mb-4
            .card.border-left-success.shadow.h-100.py-2
              .card-body
                .row
                  a(href='#')
                    .fas.fa-exchange-alt.margin-top-8.margin-left-8.margin-right-24
                  .row.margin-left-16
                    a(href='#')
                      .fas.fa-credit-card.fa-2x.margin-side-8
                    span.margin-side-8=('# ' + user.mail)
                    span.margin-side-8=('# ' + account.number)
                    span.margin-left-16=("Balance: " + account.money + "$")
      // DataTales Example
      .card.shadow.mb-4
        .card-header.py-3
          h6.m-0.font-weight-bold.text-primary Account summary
        .card-body
          .table-responsive
            table#dataTable.table.table-bordered(width='100%', cellspacing='0')
              thead
                tr
                  th Date
                  th Operation
                  th Time
                  th Description
                  th Amount
                  th Balance before
              tbody
                if user !== null
                  if user.transactions
                    each transaction in user.transactions
                      tr
                        td=(transaction.date)
                        td=(transaction.operation)
                        td=(transaction.hour)
                        td=(transaction.description)
                        td=(transaction.amount)
                        td=(transaction.balance)
      // Area Chart
      .card.shadow.mb-4
        .card-header.py-3
          h6.m-0.font-weight-bold.text-primary Monthly transaction chart
        .card-body
          .chart-area
            canvas#myAreaChart

    // /.container-fluid
    // End of Main Content
    // Footer
    +footer()
    +main-scripts()


mixin fund()
  #content
    .container-fluid
      .heading-row.row
        .heading-text.col-8
          br
          h1#white-title.h3.mb-2 Operations
          p.mb-4 In this section you will be able to add and send funds.
        .heading-menu.col-4
      .row
        .col-lg-4
          .mb-4
            .card.border-left-success.shadow.h-100.py-2
              .card-body
                .row.no-gutters.align-items-center
                  .col
                    .text-xs.font-weight-bold.text-success.text-uppercase.mb-1 Accounts (Balances)
                    br
                    each account in accounts
                      +creditCard(account.name, account.number, account.money, "")
                      hr
        .col-lg-8
          .card.shadow.mb-4
            .card-header.py-3
              h6.m-0.font-weight-bold.text-danger Transfer fund
            form(action='/main/fund/transfer' method='post')
              .card-body.row
                table.col-7.margin-side-32
                  thead
                    tr
                      th From
                      th To
                      th
                  tbody#send-fund-table
                    tr
                      td
                        each account in accounts
                          br
                          +radioCreditCard(account.name, account.number, "")
                          hr
                      td
                        each account in accounts
                          br
                          +radioCreditCardTo(account.name, account.number, "")
                          hr
                .col-4
                  br
                  br
                  .row#send-fund
                    h5 Amount:
                    form.margin-left-8.margin-right-4
                      input(type='hidden', name='_csrf', value=_csrf)
                      input(type='text', name='amount', placeholder='0.00')
                    h5.margin-right-24 $
                    button.btn.btn-danger.btn-circle.btn-sm(href='/transfer')
                      i.fas.fa-paper-plane

        .col-lg-12
          .card.shadow.mb-4
            .card-header.py-3
              h6.m-0.font-weight-bold.text-danger Send fund
            form(action='/main/fund/send' method='post')
              .card-body
                .row
                  .form-group.col-3
                    label=("Destination bank id: ")
                    input(type='text', name='destinationBankId')
                  .form-group.col-3
                    label=("Destination account number: ")
                    input(type='text', name='destinationAccountNumber')
                  .form-group.col-3
                    label=("amount: ")
                    input(type='text', name='amount')
                .row
                  .form-group
                    label=("Origin account number: ")
                    input(type='text', name='originAccountNumber')
                  .form-group
                    button.btn.btn-danger.btn-circle.btn-sm(type='submit')
                      i.fas.fa-paper-plane

  +footer()
  +main-scripts()

mixin footer()
  footer.sticky-footer
    .container.my-auto
      .copyright.text-center.my-auto
        span Copyright © ILeakable 2019
  // End of Footer
  // End of Content Wrapper
  // End of Page Wrapper
  // Scroll to Top Button
  a.scroll-to-top.rounded(href='#page-top')
    i.fas.fa-angle-up
  // Logout Modal

mixin main-scripts()
  #logoutModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Ready to Leave?
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body Select "Logout" below if you are ready to end your current session.
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
          a.btn.btn-primary(href='login.html') Logout
  // Page level plugins
  script(src='/node_modules/datatables.net/js/jquery.dataTables.min.js')
  script(src='/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js')
  // Page level custom scripts
  script(src='/javascripts/main.js')

mixin creditCard(accountName, accountNumber, fund, description)
  .row
    .col-8.margin-left-16
      .row
        a.fas.fa-credit-card.fa-2x.margin-side-8
        span=(accountName + ' ' + accountNumber)
      .row
        span=(description === "" ? "" : description)
    .col.mr-2
      .h5.mb-0.font-weight-bold.text-gray-800=(fund + "$")

mixin radioCreditCard(accountName, accountNumber, description)
  .row
    .form-check
      input#blankRadio1.form-check-input.position-static(type='radio', name='accF', value=(accountNumber), aria-label='...')
    a.fas.fa-credit-card.fa-2x.margin-side-8
    .col
      span=(accountName + ' ' + accountNumber)
      br
      span=(description === '' ? '' : description)

mixin radioCreditCardTo(accountName, accountNumber, description)
  .row
    .form-check
      input#blankRadio2.form-check-input.position-static(type='radio', name='accT', value=(accountNumber), aria-label='...')
    a.fas.fa-credit-card.fa-2x.margin-side-8
    .col
      span=(accountName + ' ' + accountNumber)
      br
      span=(description === '' ? '' : description)